/* Importowanie kolorów z pliku colors.css */
@import './Colors.css';

/* Style dla warstwy nakładanej na ekran, aby tworzyć efekt zasłony */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Częściowo przezroczyste tło */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Style dla kontenera pop-up */
.popup {
    background-color: var(--background-color); /* Kolor tła */
    padding: 20px;
    color: var(--text-color); /* Kolor tekstu */
    border-radius: 5px; /* Zaokrąglenie rogów */
    text-align: center; /* Wyrównanie tekstu do środka */
}

/* Style dla przycisków w pop-up */
.popup button {
    background-color: var(--button-color); /* Kolor tła przycisku */
    color: white; /* Kolor tekstu */
    padding: 10px; /* Wielkość wypełnienia */
    font-weight: 600;
    border: none; /* Brak obramowania */
    cursor: pointer; /* Kursor wskaźnika */
    transition: background-color 0.3s ease; /* Efekt przejścia przy najechaniu */
    margin-left: 4px; /* Odległość między przyciskami */
}

/* Stylowanie przycisków podczas najechania */
.popup button:hover {
    background-color: var(--button-hover-color); /* Zmiana koloru tła po najechaniu */
}
